.operationIconfont__project {
  font-size: 18px;
  margin: 0 5px;
  font-weight: 700;
  color: #8D9AB0;
  cursor: pointer;
  &:hover {
    color: #4888FF;
  }
}
.operationIconfont__unit {
  font-size: 18px;
  margin: 0 5px;
  font-weight: 700;
  color: #8D9AB0;
  cursor:pointer;
  &:hover {
    color: #00C67C;
  }
}
